/* ///////////////////////////////////////-----------КНОПКА ГЕРОЯ-1----------//////////////////////////////////////////////// */

@keyframes shake-vertical {

    0%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////-----------КНОПКА ГЕРОЯ-2----------//////////////////////////////////////////////// */
.pulsate-bck {
    animation: pulsate-bck 0.5s ease-in-out infinite;
}

@keyframes pulsate-bck {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////---------------СВИНКА---------------//////////////////////////////////////////////// */


/* // //////////////////////////////--------------МОБИЛЬНАЯ ВЕРСИЯ----------------//////////////////////////////////////////

// @keyframes svinina {
//     0% {
//         transform: translate(-150px, 30px) rotate(360deg);
//       }
    
//       50% {
//         transform: translate(100px, -100px);
//       }
    
//       100% {
//         transform: translate(50px, 50px) rotate(360deg);
//       }

// } */

@media screen and (min-width: 270px) and (max-width: 480px) {
    @keyframes svinina {
        0% {
            transform: translate(-150px, 30px) rotate(360deg);
          }
        
          50% {
            transform: translate(-90px, -100px);
          }
        
          100% {
            transform: translate(50px, 50px) rotate(360deg);
          }
    
    }
        
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    @keyframes svinina {
        0% {
            transform: translate(-150px, 30px) rotate(360deg);
          }
        
          50% {
            transform: translate(300px, -100px);
          }
        
          100% {
            transform: translate(250px, 50px) rotate(360deg);
          }
    
    }
}

@media screen and (min-width: 1200px) {
    @keyframes svinina {
        0% {
            transform: translate(-150px, 30px) rotate(360deg);
          }
        
          50% {
            transform: translate(700px, -100px);
          }
        
          100% {
            transform: translate(650px, 80px) rotate(360deg);
          }
    
    }
}